<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.anhao.admin.domain.dao.RoleMapper">
    <resultMap id="roleMap" type="Role" >
        <id column="id" property="id"/>
        <result column="createDate" property="createDate"/>
        <result column="modifyDate" property="modifyDate"/>
        <result column="description" property="description"/>
        <result column="isSystem" property="isSystem"/>
        <result column="name" property="name"/>
        <result column="value" property="value"/>
    </resultMap>  
    
    <select id="countAll" resultType="int">
        select count(*) c from v_role;
    </select>
    <select id="get" resultType="Role" parameterType="String" >
        select * from v_role WHERE id = #{id};
    </select>
    <insert id="create" parameterType="Role">
        insert into v_role
        (id,createDate,modifyDate,description,isSystem,name,value) 
        values (#{id}, #{createDate},#{modifyDate},#{description},#{isSystem},#{name},#{value})
    </insert>
    
    <!-- ************** READ ************** -->
    <select id="findAll" resultMap="roleMap ">
        SELECT 
        id,createDate,modifyDate,description,isSystem,name,value
        FROM 
        v_role 	            	
    </select>
</mapper>