<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	
    <!--注意:写自己的接口暴露-->
    <!-- 声明需要暴露的服务接口 -->
    <bean id="roleService" class="com.anhao.admin.bean.RoleServiceBean"/>
    <!-- 具体的实现bean -->
    <dubbo:service interface="com.anhao.admin.api.RoleService" ref="roleService" />
	
     <bean id="adminService" class="com.anhao.admin.bean.AdminServiceBean"/>
    <!-- 具体的实现bean -->
    <dubbo:service interface="com.anhao.admin.api.AdminService" ref="adminService" />
    
    
    <!--mybatis 改进功能-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 自动扫描 mybatis的接口 -->
        <property name="basePackage" value="com.anhao.admin.domain.dao"></property>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
    </bean>
   
</beans>