<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>  
        <!--给实体类起一个别名 user -->  
        <typeAlias type="com.anhao.admin.domain.Role" alias="Role" />
        <typeAlias type="com.anhao.admin.model.Admin" alias="Admin" />
    </typeAliases>  
    <!--在spring-mybatis中配置<value>classpath*:com/anao/**/domain/mapper/*.xml</value>-->
    <!--mappers>
        <mapper resource="com/anhao/admin/domain/mapper/RoleMapper.xml"/>
        <mapper resource="com/anhao/admin/domain/mapper/AdminMapper.xml"/>
    </mappers-->
</configuration>